// 변수 - 색상
$pcF: #fff;
$pcB: #f9f9fc;
$pcE: #e7e9ed;
$pc0: #000000;
$pc1: #171718;
$pc2: #2778ED;
$pc3: #292F52;
$pc4: #4e5054;
$pc5: #525FA4;
$pc6: #74797D;
$pc7: #F3F4F6;
$pc8: #C2C9D1;
$pc9: #9ba1a7;
$pcD: #dadfe3;
$pcR: #ef3340;
$pcG: #3FB958;


// 믹스인 - 스크롤
@mixin scroll($axis, $_max-height: null) {
    @if $axis==x {
        overflow-x: visible;
        overflow-y: hidden;
        white-space: nowrap;
    }

    @else {
        @if $_max-height !=null {
            max-height: $_max-height;
        }

        overflow-x: hidden;
        overflow-y: visible;
        // overscroll-behavior:contain;
    }

    -webkit-overflow-scrolling: touch;
    // scroll-behavior:smooth;
}

// 믹스인 - 텍스트 삭제
@mixin blind() {
    font: 0/0 a;
}

// 믹스인 - 말줄임
@mixin clamp($clamp) {
    overflow: hidden;
    text-overflow: ellipsis;

    @if $clamp==1 {
        white-space: nowrap;
    }

    @else {
        -webkit-line-clamp: $clamp;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}

// 믹스인 - 이미지 크롭
@mixin cropimg($_ori: null) {
    overflow: hidden;
    position: relative;
    z-index: 1;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);

        @if $_ori==w {
            max-height: initial;
            min-height: 100%;
            width: 100%;
            height: auto;
        }

        @else {
            min-width: 100%;
            max-width: initial;
            width: auto;
            height: 100%;
        }
    }
}

// 믹스인 - list-dot
/*
  $dotSt
  1 > ·
  2 > -
*/
@mixin listdot($mt, $fz, $fc, $dotSt: null) {
    li {
        position: relative;
        padding-left: 10px;
        font-size: $fz;
        color: $fc;
        text-align: left;
        line-height: 1.5;

        &:not(:first-child) {
            margin-top: $mt;
        }

        &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            display: block;
            width: 3px;
            height: 3px;
            background: $fc;
            border-radius: 50%;
        }
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}